.coaches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coach{
    background-color: #E2D1F9;
    border: 3px #317773 solid;
    margin: 1rem;
}

.coach img{
    width: 1500px;
    max-width: 370px;
    height: 400px;
}

.coach-info{
    padding: 1rem;
    font-family: sans-serif;
    color: #317773;
    letter-spacing: 1px;
}